@font-face {
	font-family: openLight;
	src: url('/fonts/open-sans/OpenSans-Light.ttf');
}

@font-face {
	font-family: nymph;
	src: url('/fonts/Nymphette/Nymphette.ttf');
}

@font-face {
	font-family: furore;
	src: url('/fonts/Furore/Furore.otf');
}

@font-face {
	font-family: museo;
	src: url('/fonts/Museo/Museo100-Regular.otf');
}

@font-face {
	font-family: tilliumlight;
	src: url('/fonts/Titillium/Titillium-Thin.otf');
}

@font-face {
	font-family: codelight;
	src: url('/fonts/Code/CODElight.otf');
}

@font-face {
	font-family: cargo;
	src: url('/fonts/Cargo/8th_Cargo.ttf');
}

@font-face {
	font-family: saucer;
	src: url('/fonts/saucer/SaucerBB.ttf');
}

@font-face {
	font-family: cornell1;
	src: url('/fonts/tex-gyre-pagella/texgyrepagella-regular.otf');
}

@font-face {
	font-family: aller;
	src: url('/fonts/Aller/Aller_Rg.ttf');
}

@font-face {
	font-family: exo;
	src: url('/fonts/exo/Exo-Bold.otf');
}

@font-face {
	font-family: prime;
	src: url('/fonts/prime/Prime Regular.otf');
}

@font-face {
	font-family: casper;
	src: url('/fonts/Casper/Casper_R.ttf');
}

body {
	background-color: #A5A5A5;
	height: 1500px;

}

.my-container {
	/* makes the container at least a certain size */
	margin-right: auto;
	margin-left: auto;
	width: 1024px;
}

.my-container2 {
	/* makes the container at least a certain size */
	margin-right: auto;
	margin-left: auto;
	width: 1024px;
	background-color: #F0EAD6;
}


.top {
	font-family: openLight;
	background: url("img/back2.png") 50% 0px no-repeat fixed;
	text-align: center;
	width: 100%;
	height: 650px;
	color: white;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}

.decor{
	color: white;
	font-family: nymph;
	font-size: 50px;
}

.title {
	font-family: saucer;
	color: white;
	font-size: 100px;
	vertical-align: middle;
}

.Cred {
	color: #b31b1b;
}

.cornell-logo {
	vertical-align: middle;
}

.front-logo {
	
}

.top-wrapper {
	width: 100%;
}

.logo {
	position: absolute;
	top: 20px;
	left: 30px;
}

.top-logo {
	margin-top: 20px;
	position: absolute;
	left:  30px;
}

#logo-text {
	font-size: 20px;
}

.top-text {
	font-family: openlight;
	margin-top: 0px;
	padding-top: 100px;
	font-size: 50px;
	color: white;
}

.top-sub1 {
	padding-top: 80px;
	font-family: prime;
	font-size: 50px;
}

.top-sub2 {
	font-size: 34px;
}

.top-sub3 {
	font-size: 25px;
}

.top-p {
	font-size: 30px;
	color: white;
	display: inline;
}

.top-but {
	margin-top: 50px;
}

.btn-lg {
	font-size: 20px;
	height: 55px;
	width: 220px;
}

.first-buffer {
	height: 30px;
	background-color: #b31b1b;
}

.middle {
	background-color: white;
	height: 1000px;

}